#selectors {
    height:70%
}

.row-info {
    font-family: "Courier New";
    font-size: 14px;
    padding: 20px;
    height: 30%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

.app-controls {
    padding: 10px;
    background-color: #0c0c10;
    display: flex;
}

.app-control-button {
    border-radius: 0;
    border: 1px solid black;
    background: greenyellow;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 10px;
}

.app-control-button:active {
    background-color: indianred;
}
